html, body{
	width: 100%;
	height:100%;
	background-color: red;


}


.skrollr-container{
	top:20%;
	width: 100%;
	height:100%;
	overflow:hidden;
}


.spin{
	position:absolute;
	width:80px;
	height:50px;
	top:20%;
	left:5%;
	background-color: blue;
	-webkit-transform: rotate(360deg);
    -webkit-transition-duration: 7s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.spin2{
	position:absolute;
	width:600px;
	height:20px;
	top:40%;
	left:50%;
	background-color: pink;
	-webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.spin3{
	position:absolute;
	width:100px;
	height:900px;
	top:60%;
	left:20%;
	background-color: black;
	-webkit-transform: rotate(360deg);
    -webkit-transition-duration: 3s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.spin4{
	position:absolute;
	width:400px;
	height:1200px;
	top:80%;
	left:2%;
	background-color: yellow;
	-webkit-transform: rotate(360deg);
    -webkit-transition-duration: .1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
p {


	left:70px;
	color: black;
	font-size: 300px;
	position: fixed;
}



.menu2 {
 position: fixed;
 width: 100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 display: inline;
 bottom: 0;
 right: 30px;
 text-align:right;

}

.number {
 position: fixed;
 width:100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 top: 0px;
 right: 30px;
 text-align:right;
}


a {
	font-size: 50px;
	text-decoration: none;
	color: black;
  font-family: 'Hind Guntur', sans-serif;
  text-align:center;
  right: 20px;
}






































































